<div class="container-main">
  <div class="container-left">
      <h1 class="left-heading">Connecting people for <i>Business.</i></h1>
      <h2 class="left-msg"><i>Hundreds of oppertunity to search!</i></h2>
      <div class="action">
          <a class="btn btn-lg lbtn" href="/job" >I'm A Job Seeker</a>
          <a class="btn btn-lg lbtn" href="/login">I'm A Recruiter</a>
      </div>
  </div>
  <div class="container-right">
      <img src="https://easily-deploy.onrender.com/images/banner.png" alt="banner" />
  </div>
</div>