 <div class="outer">
  <div class="outer-container">
    <div class="inner-container">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        <div class="login-main">
            <form action="/login" method="post">
              <%if(error){%>
                <div class="alert alert-danger" role="alert">
                  <%=error%>
                </div>
                <%}%>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email-ID</label>
                    <input required type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input required type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                  </div>
                  <div class="submit">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
            </form>
        </div>
        <br>
        <div class="login-footer">
            <div>
                <span>New Recruiter?</span>
                <a href="/register">Sign up</a>
            </div>
        </div>
    </div>
</div>
</div>